body { height: auto; margin: 0; background:white;}
.knowledge-h {width: 100%; text-align: center;}
.knowledge-h h1 { font-family: "Kanit", sans-serif;font-style: normal; font-size: 50px; color:black; font-weight: 800;}
.knowledge-images img { display: block; margin: 0 auto;}
.crane-img {width: 40%; height: 35%;}
.article-crane { margin-left: 200px; margin-right: 200px;}
.article-crane h2 { margin: 10px 0;  font-family: "Kanit", sans-serif;font-style: normal; font-size: 40px; color:#075eff ; font-weight: 800; }
.article-crane h3 { margin: 10px 0;  font-family: "Kanit", sans-serif;font-style: normal; font-size: 40px; color:#075eff ; font-weight: 800; }
.article-crane h4 { margin: 10px 0;  font-family: "Kanit", sans-serif;font-style: normal; font-size: 40px; color:#075eff ; font-weight: 800; }
.article-crane h5 { margin: 10px 0;  font-family: "Kanit", sans-serif;font-style: normal; font-size: 40px; color:#075eff ; font-weight: 800; }
.article-crane p { left: -20px; margin-top: -10px; font-family: "Kanit", sans-serif;font-style: normal; font-size: 20px; color:black ; font-weight: 500;}
.knowledge-images2 { display: flex; gap: 10px; margin-bottom: 60px;}
.crane2-img { width: 23%; ; height: 20%;}
.crane3-img { width: 25.5%; ; height: 20%;}
.paragraph-1 {padding-top: 10px;}
.paragraph-2 {padding-top: 10px;}
.paragraph-3 {padding-top: 10px;}
.paragraph-4 {padding-top: 10px;}

.endweb {text-align: center;}
.logocrane2-img { height: 120px; margin-top: 20px;}
.contact-ttend { 
  font-family: "Kanit", sans-serif;font-style: normal; font-size: 28px; color:#ffc107 ; font-weight: 500;
  margin-top:-3px ; 
  margin-bottom: 5px; 
}
.contact-listend { margin-top: 5px;}
.contactend a {
  font-family: "Kanit", sans-serif;font-style: normal; font-size: 25px; color: white ; font-weight: 500;
  text-decoration: none;
  margin-left: -20px;
}
.contactend span{
  font-family: "Kanit", sans-serif;font-style: normal; font-size: 25px; color: white ; font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
}
.contactend li { list-style: none;}
.contactend a:hover {text-decoration: underline;}
.logofb {
  display: inline-flex;
  margin-left: -10px;
  margin-bottom: -3px;
  border-radius: 50%;
  background-color: #1877F2;
  color: white;
  font-size: 22px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
.gt {margin-right: 20px;}
.oe {
    font-family: "Kanit", sans-serif;font-style: normal; font-size: 25px; color: white ; font-weight: 500;
  text-decoration: none;
  margin-right: 20px;
}
@media(max-width:960px) {
    .knowledge-h h1 { font-size: 40px;}
    .crane-img {width: 70%; height: 50%;}
    .article-crane { margin-left: 50px; margin-right: 50px;}
    .article-crane h2 { font-size: 35px;}
    .article-crane h3 { font-size: 35px;}
    .article-crane h4 { font-size: 35px;}
    .article-crane h5 { font-size: 35px;}
    .knowledge-images2 { display: flex; flex-direction: column; align-items: center; gap: 10px; margin-bottom: 60px;}
    .crane2-img { width: 70%; ; height: 20%;}
    .crane3-img { width: 70%; ; height: 20%;}

    .contact-ttend { font-size: 25px; }
    .article-crane p {font-size: 19px;}
    .contactend a {font-size: 18px; margin-right: 8px;}
    .contactend span {font-size: 18px; margin-right: 20px;}
    .oe {margin-left: -5px;}
}